body {
    background-color: black;
}

header {
    background-color: white;
    color: black;
    padding-left: 44px;
    padding-top: 41px;
    padding-top: 0;
    padding-bottom: 50px;
}

#text1 {
    width: 543px;
}

h1{
    font-size: 120px;
    margin-bottom: 0;
}

#biography {
    font-size: 25px;
    max-width: 487px;
}


#top_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 25px;
  }

th {
    background-color: #ebebeb;
  }

#image1 {
    width: 100%;
    height: 100%;
}

#quotes p{
    position: absolute;
    color: white;
    font-size: 60px;
    width: 636px;
    text-align: center;
    padding-left: 10px;
}

#career {
    color:white;
    text-align: center;
    font-size: 60px;
}

#img_career{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    background-color: white;
    font-size: 35px;
}